<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="indianservers.com.englishtohindidictionary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ethlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ethlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SingleItemActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppThemee">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BottomActivity"
            android:label="@string/title_activity_bottom" />
        <activity android:name=".FavouritesActivity" />
        <activity android:name=".FavSingleActivity"></activity>
    </application>

</manifest>